body {
  font-family: fira sans;
}

.container {
  margin: 25px;
  padding: 25px;
}

.larger-text {
  font-size: 1.25em;
  font-weight: bold;
}

/* proccess_print.html */
.screen-list-img-pp {
  width: 75%;
  margin: 0px 12.5% 0;
}
.beer-list-div-pp,
.beer-list-div-bb {
  width: 95%;
  margin: 0 auto;
}
.beer-list-loop-pp,
.beer-list-loop-bb {
  width: 100%;
  padding: 0;
  margin: 0;
}
.list-group-item-pp,
.list-group-item-bb {
  margin: 0;
  padding: 1px 0;
}
.full-screen-pp,
.full-screen-bb {
  height: 100vh;
  width: 90vw;
  margin: 0 auto;
}


/* beers_tv_screen.html */
.smaller-span {
  font-size: 1.25em;
}
.list-group-bts {
  padding: 0px;
}
.full-page {
  height: 100vh;
  overflow: hidden;
  background-image: url("/static/img/file-goes-here.ext");
  background-repeat: no-repeat;
  background-color: #000;
  color: #fff;
}
.card {
  background: linear-gradient(#333,#000);
}
.cardvs  {
  background: linear-gradient(#333,#000);
  height: 10vh;
}
.italic-font {
  font-style: italic;
}
.underline{
  border: 1px solid #fff;
  border-left: none;
  border-top: none;
  border-right: none;
}
.bold-font {
  font-weight: bolder;
}
.font-test {
  font-size: 5em;
}
.font-sml {
  font-size: 1.25em;
}
.font-med {
  font-size: 1.5em;
}
.font-lrg {
  font-size: 1.75em;
}
.font-color-gray {
  color: #888;
}
.no-btm-margin {
  margin-bottom: 0;
}
.beer-screen-table {
  table-layout: fixed;
  padding-left: 100px;
}
.list-group-bts {
  list-style-image: url("/static/img/34x40_irish-flag-shamrock.png");
  margin-left: 35px;
}
.beer-screen-tr {
  display: block;
}
.w-half {
  width: 300px;
  /* background: blue; */
}
.w-third {
  width: 400px;
  /* background: green; */
}
.w-forth {
  width: 200px;
  /* background: #555; */
}
.w-fifth {
  width: 125px;
  /* background: #ccc; */
}
.w-tenth {
  width: 50px;
  /* background: red; */
}
/*  image behind the number on beer_tv_screen */
.card-img::before,
.card-img::after,
.card-img-before::before,
.card-img-after::after {
  content: url("/static/img/34x40_irish-flag-shamrock.png");
  width: 50px;
}
.left-spacer {
  margin-left: 10px;
}
.wrapper {
  height: 100%;
  /* background: red; */
  /* margin-bottom: -75px; */
  margin-bottom: -8vh;
}

.bts-coming-soon {
  background: linear-gradient(#333,#000);
  width: 100%;
  /* height: 75px; */
  height: 8vh;
  margin: 0 auto;
  font-size: 3em;
  /* background: green; */
  position: relative;
}
.ticker {
  width: 100%;
  margin: 0;
  height: 100%;
  /* background: blue; */
  position: absolute;
}
.list-bts-coming-soon {
  width: 100%;
  padding: 0;
  /* background: green; */
  list-style-type: none;
  list-style:  none;
  display: inline;
  white-space: nowrap;
}

.list-bts-coming-soon li{
   margin: 10px;
   display: inline;
   white-space: nowrap;
}

/* ul,
li {
  display: inline;
  white-space: nowrap;
} */



/* .move-left {
  animation: moveleft 55000ms linear forwards infinite;
}
@keyframes moveleft {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-6000px);
  }
} */

/* process_print link color change */
.txt-clr-grn {
  color: #08891d;
}
.txt-clr-grn-shdw {
  color: #08891d;
  /* color: purple; */
  text-shadow: 1px 1px #F08F40,
  -1px -1px #F08F40,
  -1px 1px #F08F40,
  1px -1px #F08F40,
  2px 2px #000,
  -2px -2px #000,
  -2px 2px #000,
  2px -2px #000,
  3px 3px #000,
  -3px -3px #000,
  -3px 3px #000,
  3px -3px #000;
}
.txt-clr-ylw {
  color: #F08F40;
  /* color: black; */
  text-shadow: -2px -2px #000,
  2px 2px #000;
}
.txt-clr-wht {
  color: #fff;
  text-shadow: -2px -2px #000,
  2px 2px #000;
}
#comingsoon-p-pp > span {
  display: block;
  margin: 10px 0px;
}
#subnavbar li {
  display: inline;
  text-align: center;
}
