.container {
  margin: 25px;
  padding: 25px;
}

.larger-text {
  font-size: 1.25em;
  font-weight: bold;
}

/* proccess_print.html */
#screen-list-img {
  width: 75%;
  margin: 0px 12.5% 0;
}
#beer-list-div {
  width: 95%;
  margin: 0 auto;
}
#beer-list-loop {
  width: 100%;
  padding: 0;
  margin: 0;
}
#list-group-item-pp {
  margin: 0;
  padding: 1px 0;
}
.full-screen {
  height: 100vh;
  width: 90vw;
  margin: 0 auto;
}


/* beers_tv_screen.html */
.smaller-span {
  font-size: 1.25em;
}
.list-group-bts {
  padding: 0px;
}
.full-page {
  /* height: 100vh; */
  /* overflow: hidden; */
  background-image: url("/static/img/file-goes-here.ext");
  background-repeat: no-repeat;
  background-color: #000;
  color: #fff;
}
.card  {
  background: linear-gradient(#222,#000);
}
.italic-font {
  font-style: italic;
}
.bold-font {
  font-weight: bolder;
}
.font-med {
  font-size: 1.25em;
}
table {
  table-layout: fixed;
}
td {
  width: 225px;
}
