body {
  font-family: fira sans;
}

.container {
  margin: 25px;
  padding: 25px;
}

.larger-text {
  font-size: 1.25em;
  font-weight: bold;
}

/* proccess_print.html */
.screen-list-img-pp {
  width: 75%;
  margin: 0px 12.5% 0;
}
.beer-list-div-pp {
  width: 95%;
  margin: 0 auto;
}
.beer-list-loop-pp {
  width: 100%;
  padding: 0;
  margin: 0;
}
.list-group-item-pp {
  margin: 0;
  padding: 1px 0;
}
.full-screen-pp {
  height: 100vh;
  width: 90vw;
  margin: 0 auto;
}


/* beers_tv_screen.html */
.smaller-span {
  font-size: 1.25em;
}
.list-group-bts {
  padding: 0px;
}
.full-page {
  height: 100vh;
  overflow: hidden;
  background-image: url("/static/img/file-goes-here.ext");
  background-repeat: no-repeat;
  background-color: #000;
  color: #fff;
}
.card {
  background: linear-gradient(#333,#000);
}
.cardvs  {
  background: linear-gradient(#333,#000);
}
.italic-font {
  font-style: italic;
}
.underline{
  border: 1px solid #fff;
  border-left: none;
  border-top: none;
  border-right: none;
}
.bold-font {
  font-weight: bolder;
}
.font-med {
  font-size: 1.5em;
}
.font-lrg {
  font-size: 1.75em;
}
.font-color-gray {
  color: #888;
}
.no-btm-margin {
  margin-bottom: 0;
}
.beer-screen-table {
  table-layout: fixed;
  padding-left: 100px;
}
.list-group-bts {
  list-style-image: url("/static/img/34x40_irish-flag-shamrock.png");
  margin-left: 35px;
}
.beer-screen-tr {
  display: block;
}
.w-half {
  width: 300px;
  /* background: blue; */
}
.w-third {
  width: 400px;
  /* background: green; */
}
.w-forth {
  width: 200px;
  /* background: #555; */
}
.w-tenth {
  width: 50px;
  /* background: red; */
}
/*  image behind the number on beer_tv_screen */
.card-img::before,
.card-img::after,
.card-img-before::before,
.card-img-after::after {
  content: url("/static/img/34x40_irish-flag-shamrock.png");
}
.left-spacer {
  margin-left: 10px;
}
.wrapper {
  height: 100%;
  /* background: red; */
  margin-bottom: -75px;
}

.bts-coming-soon {
  background: linear-gradient(#333,#000);
  width: 100%;
  height: 75px;
  margin: 0 auto;
  font-size: 3em;
  /* background: green; */
}
.ticker {
  margin: 0;
  height: 100%;
  /* background: blue; */
}
.p-bts-coming-soon {
  margin: 0;
  width: 100%;
  /* background: green; */
}
.move-left {
  animation: moveleft 30000ms linear forwards infinite;
}
@keyframes moveleft {
  0% {
    transform: translateX(1775.5px);
  }
  100% {
    /* transform: translateX(-2634px); */
    transform: translateX(-1317px);
  }
}

/* process_print link color change */
.txt-clr-grn {
  color: #08891d;
}
.txt-clr-grn-shdw {
  color: #08891d;
  text-shadow: 1px 1px #F08F40,
  -1px -1px #F08F40,
  -1px 1px #F08F40,
  1px -1px #F08F40,
  2px 2px #000,
  -2px -2px #000,
  -2px 2px #000,
  2px -2px #000,
  3px 3px #000,
  -3px -3px #000,
  -3px 3px #000,
  3px -3px #000;
}
.txt-clr-ylw {
  color: #F08F40;
  text-shadow: -2px -2px #000,
  2px 2px #000;
}
.txt-clr-wht {
  color: #fff;
  text-shadow: -2px -2px #000,
  2px 2px #000;
}
