<!-- <nav class="navbar navbar-expand-lg navbar-light">
  <div class="" id="navbarNav">
    <ul id="subnavbar" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/draft_beers">Draft Beers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bottle_beers">Bottle Beers</a>
      </li>
    </ul>
  </div>
</nav> -->


<!-- <div class="col-12 mx-auto">
  <div class="row mb-3 justify-content-center">
    <div class="d-inline nav-item ">
      <a class="d-inline nav-link btn btn-secondary" href="/draft_beers">Draft Beers</a>
      <a class="d-inline nav-link btn btn-secondary" href="/bottle_beers">Bottle Beers</a>
    </div>
  </div>
  <div class="row mb-3 justify-content-center">
    <div class="d-inline nav-item ">
      <a class="d-inline nav-link btn btn-secondary" href="/winelist_menu">Wine Menu</a>
      <a class="d-inline nav-link btn btn-secondary" href="/winelist_description">Wine Descriptions</a>
    </div>
  </div>
</div> -->

<div class="mx-auto">
  <div class="d-flex flex-wrap justify-content-around">
    <div class="d-flex flex-wrap justify-content-around">

      <div class="mt-2 mx-2">
        <a class=" nav-link btn btn-secondary" href="/draft_beers">Draft Beers</a>
      </div>
      <div class="mt-2 mx-2">
        <a class=" nav-link btn btn-secondary" href="/bottle_beers">Bottle Beers</a>
      </div>

    </div>
    <div class="d-flex flex-wrap justify-content-around">

      <div class="mt-2 mx-2">
        <a class=" nav-link btn btn-secondary" href="/winelist_menu">Wine Menu</a>
      </div>
      <div class="mt-2 mx-2">
        <a class=" nav-link btn btn-secondary" href="/winelist_description">Wine Descriptions</a>
      </div>

    </div>
  </div>
</div>

<!-- <div class="mx-auto">
  <div class="d-inline nav-item ">
    <a class="d-inline nav-link btn btn-secondary" href="/draft_beers">Draft Beers</a>
    <a class="d-inline nav-link btn btn-secondary" href="/bottle_beers">Bottle Beers</a>
    <a class="d-inline nav-link btn btn-secondary" href="/winelist_menu">Wine Menu</a>
    <a class="d-inline nav-link btn btn-secondary" href="/winelist_description">Wine Descriptions</a>
  </div>
</div> -->
