{% extends 'layout.html' %}

{% block body %}
  <div>
    <h1>Add Wine
      <a href="/wine_dashboard" class="btn btn-sm btn-danger">Wine Dashboard</a>
      <a href="/wine_dashboard" class="btn btn-sm btn-success">Winelist Editor</a>
    </h1>
  </div>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.name, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.location, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.varietal, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.glass, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.bottle, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.description, class_="form-control", id="editor") }}
    </div>
    <div class="form-group">
      {{ render_field(form.foodPairings, class_="form-control", id="editor") }}
    </div>

    <p>
      <input class="btn btn-sm btn-primary" type="submit" value="Submit">
      <a href="/wine_dashboard" class="btn btn-sm btn-danger">Cancel</a>
    </p>
  </form>
{% endblock %}
