{% extends 'layout.html' %}
{% block body %}
  <h1>Edit Font Size List</h1>
  <hr>
  {% from "includes/_formhelpers.html" import render_field %}
  <form id="add_size_form" name="add_size_form" action="" method="POST">
    <div class="form-group">
      {{ render_field(form.fontSizeOptions, class_="form-control") }}
      <!-- <label for="fontSizeOptions">Font Size Options  (Min: 0.0 - Max: 5.0)</label>
      <input id="fontSizeOptions" class="form-control" name="fontsizeoptions" type="number" min="0" max="5" placeholder="1.0"> -->
    </div>
    <button id="submit_settings_btn" name="submit_settings_btn" type="submit" class="btn btn-sm btn-primary">Save Settings</button>
    <hr>
  </form>
  <div class="form-group">
    {{ render_field(form.fontSizes, class_="form-control") }}
  </div>
{% endblock %}
