{% extends 'layout.html' %}

{% block body %}
  <h1>Beers Currently On Tap</h1>
  <table class="table table-striped table-dark">
    <tr>
      <th></th>
      <th>Beer</th>
      <th>Style</th>
      <th>ABV</th>
      <th>IBU</th>
      <th>Brewery</th>
      <th>Location</th>
      <th>Description</th>
    </tr>
    {% for beer in beers %}
      <tr>
        <td>{{beer.id}}.</td>
        <td>{{beer.name}}</td>
        <td>{{beer.style}}</td>
        <td>{{beer.abv}}%</td>
        <td>{{beer.ibu}}</td>
        <td>{{beer.brewery}}</td>
        <td>{{beer.location}}</td>
        <td>{{beer.description | safe}}</td>
      </tr>
    {% endfor %}
  </table>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="list-group">
          {% for beer in beers %}
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{beer.id}}. {{beer.name}}</h5>
                <small>{{beer.abv}}% ABV {{beer.ibu}} IBU</small>
              </div>
              <p class="mb-1">{{beer.brewery}} {{beer.location}}</p>
              <small>{{beer.description |safe}}</small>
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm">
        <div class="list-group">
          {% for beer in beers %}
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{beer.id}}. {{beer.name}}</h5>
                <small>{{beer.abv}}% ABV {{beer.ibu}} IBU</small>
              </div>
              <p class="mb-1">{{beer.brewery}} {{beer.location}}</p>
              <small>{{beer.description |safe}}</small>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="list-group">
          <ul class="list-group-flush">
            {% for beer in beers %}
              <li class="list-group-item"><h1>{{beer.id}}.  {{beer.name}}</h1><br>{{beer.abv}}% ABV {{beer.ibu}} IBU <br>{{beer.brewery}} {{beer.location}} {{beer.description |safe}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-sm">
        <div class="list-group">
          <ul class="list-group-flush">
            {% for beer in beers %}
              <li class="list-group-item"><h1>{{beer.id}}.  {{beer.name}}</h1><br>{{beer.abv}}% ABV {{beer.ibu}} IBU <br>{{beer.brewery}} {{beer.location}} {{beer.description |safe}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <ul class="list-group-flush">
    {% for beer in beers %}
      <li class="list-group-item"><a href="{{beer.website}}" target="_blank">{{beer.id}}.  {{beer.name}}</a> {{beer.abv}}% ABV {{beer.ibu}} IBU {{beer.location}} {{beer.description |safe}}</li>
    {% endfor %}
  </ul>
{% endblock %}
