{% extends 'layout.html' %}

{% block body %}
<div>
  <h1>Edit Beer
    <a href="/dashboard" class="btn btn-sm btn-danger">Beer Dashboard</a>
    <a href="/dashboard" class="btn btn-sm btn-success">Beerlist Editor</a>
  </h1>
</div>
  {% from "includes/_formhelpers.html" import  render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.name, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.style, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.abv, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.ibu, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.brewery, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.location, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.website, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.description, class_="form-control") }}
      <!-- {{ render_field(form.description, class_="form-control", id="editor") }} -->
    </div>
    <div class="form-group">
      {{ render_field(form.draftBottle, class_="form-control") }}
    </div>
    <p>
      <input class="btn btn-primary" type="submit" value="Submit">
      <a href="/dashboard" class="btn btn-sm btn-danger">Cancel</a>
    </p>
  </form>
{% endblock %}
