{% extends 'layout.html' %}

{% block body %}
  <h1>Edit Beer List</h1>
  {% from "includes/_formhelpers.html" import  render_field %}
  <form id="edit_form" method="POST" action="">
    <div class="form-group">
      {{ render_field(form.beer1, class_="form-control edit-beer1") }}
    </div>
    <div class="form-group">
      {{ render_field(form.beer2, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.beer3, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.beer4, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.beer5, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.beer6, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.beer7, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.beer8, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.beer9, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.beer10, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.beer11, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.beer12, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.beer13, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.beer14, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.beer15, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.beer16, class_="form-control") }}
    </div>
    <div>
      <h3>Beer O' the Month</h3>
      <hr>
    </div>
    <div class="form-group">
      {{ render_field(form.beer17, class_="form-control") }}
    </div>
    <div>
      <h3>Coming Soon</h3>
      <hr>
    </div>
    <div class="form-group">
      {{ render_field(form.beer18, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.beer19, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.beer20, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.beer21, class_="form-control") }}
    </div>
    <p><input id="edit-beerlist" class="btn btn-primary" type="submit" value="Submit"></p>
  </form>
{% endblock %}
