{% extends 'layout.html' %}
{% block body %}
<div class="row my-3 mx-auto">
  <h1>Edit Event</h1>
  <div class="col-12 my-1">
    <a href="/event_dashboard" class="btn btn-sm btn-success">Event Dashboard</a>
    <a href="/event_dashboard" class="btn btn-sm btn-danger">Cancel</a>
  </div>
</div>
<hr>
{% from "includes/_formhelpers.html" import render_field %}
<form id="add_event_form" name="add_event_form" action="" method="POST">
  <div class="form-group">
    <!-- {{ render_field(form.eventName, class_="form-control") }} -->
    <label for="eventName">Event Name:</label>
    <input id="eventName" class="form-control" name="eventname" type="text" value="{{event.name}}">
  </div>
  <div class="form-group">
    <!-- {{ render_field(form.eventArtist, class_="form-control") }} -->
    <label for="eventArtist">Event Artist:</label>
    <input id="eventArtist" class="form-control" name="eventartist" type="text" value="{{event.artist}}">
  </div>
  <div class="form-group">
    <!-- {{ render_field(form.eventDate, class_="form-control") }} -->
    <label for="eventDate">Event Date:</label>
    <input id="eventDate" class="form-control" name="eventdate" type="date" value="{{event.date_of_event}}">
  </div>
  <div class="form-group">
    <!-- {{ render_field(form.eventTime, class_="form-control") }} -->
    <label for="eventTime">Event Time:</label>
    <input id="eventTime" class="form-control" name="eventtime" type="time" value="{{event.time}}">
  </div>
  <div class="form-group">
    <!-- {{ render_field(form.eventTime, class_="form-control") }} -->
    <label for="eventEndTime">Event End Time:</label>
    <input id="eventEndTime" class="form-control" name="eventendtime" type="time" value="{{event.endTime}}">
  </div>
  <div class="form-group">
    <!-- {{ render_field(form.eventLocation, class_="form-control") }} -->
    <label for="eventLocation">Event Location:</label>
    <input id="eventLocation" class="form-control" name="eventlocation" type="text" value="{{event.location}}">
  </div>
  <hr>
  <button id="edit_event_btn" name="edit_event_btn" type="submit" class="btn btn-sm btn-primary">Submit Edit</button>
</form>
{% endblock %}
