{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 class="display-4">Shamrock Jack's Beer List</h1>
      <p class="lead">To show you what's on tap at yours and our favorite bar.</p>
      {% if session.logged_in == NULL %}
        <a href="/register" class="btn btn-primary btn-lg">Register</a>
        <a href="/login" class="btn btn-success btn-lg">Login</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
