{% extends 'layout_NoMenu.html' %}

{% block body %}
<div class="container full-screen-pp">
  <div class="row justify-content-center">
    <div class="row">
      <div id="update-print-page" class="col-12">
        <img class="screen-list-img-pp" src="{{ url_for('static', filename='img/SHAMROCKS_LOGO.png') }}" alt="image should be here">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="row">
      <div class="col-12">
        <h2 class="bold-font">What's On Tap</h2>
      </div>
    </div>
  </div>

  <div class="beer-list-div-pp">
    <ul class="beer-list-loop-pp list-group-flush">
    {% for beer in beers0116 %}
      <li class="list-group-item-pp list-group-item">{{beer.id}}.  <span class="larger-text txt-clr-grn">{{beer.name}}</span> - <span class="bold-font italic-font">{{beer.style}}</span> - {{beer.abv}}% ABV - {{beer.ibu}} IBU - {{beer.location}} - <span class="italic-font">{{beer.brewery}}</span></li>
    {% endfor %}
    </ul>
  </div>
  <hr>
  <div class="row justify-content-center">
    <div class="row">
      <div class="col-12">
        <h4>Try a Delicious Flight of any Three Drafts for $5</h4>
      </div>
    </div>
  </div>

  <hr>
  <div class="row justify-content-center">
    <div class="row">
      <div class="col-12">
        <h2>Beer O' The Month</h2>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <p class="month-p-pp">
      <span class="mx-3 larger-text txt-clr-grn">{{beers1722[0].name}} - </span> - <span class="bold-font italic-font">{{beers1722[0].style}}</span>
    </p>
  </div>

  <hr>
  <div class="row justify-content-center">
    <div class="row">
      <div class="col-12">
        <h2>Coming soon on Tap</h2>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <p id="comingsoon-p-pp">
      <span class="mx-4 larger-text txt-clr-grn">{{beers1722[1].name}}</span>
      <span class="mx-4 larger-text txt-clr-grn">{{beers1722[2].name}}</span>
      <span class="mx-4 larger-text txt-clr-grn">{{beers1722[3].name}}</span>
      <span class="mx-4 larger-text txt-clr-grn">{{beers1722[4].name}}</span>
    </p>
  </div>
</div>
{% endblock %}
