{% extends 'layout.html' %}
{% block body %}
  <h1>Winelist Editor</h1>
  <a href="/add_wine" class="btn btn-sm btn-success">Add Wine</a>
  <a href="/wine_dashboard" class="btn btn-sm btn-danger">Wine Dashboard</a>
  <hr>

  {% from "includes/_formhelpers.html" import render_field %}
  <form id="edit-winelist-form" method="POST" action="#" onsubmit="">
    <div class="row">
      <div class="col-6">
        <h3>Red</h3>
        <hr>
        <div class="form-group">
          {{ render_field(form.wine1, class_="form-control")}}
        </div>
        <div class="form-group">
          {{ render_field(form.wine2, class_="form-control")}}
        </div>
        <div class="form-group">
          {{ render_field(form.wine3, class_="form-control")}}
        </div>
        <div class="form-group">
          {{ render_field(form.wine4, class_="form-control")}}
        </div>
        <div class="form-group">
          {{ render_field(form.wine5, class_="form-control")}}
        </div>
        <div class="form-group">
          {{ render_field(form.wine6, class_="form-control")}}
        </div>
        <div class="form-group">
          {{ render_field(form.wine7, class_="form-control")}}
        </div>
        <div class="form-group">
          {{ render_field(form.wine8, class_="form-control")}}
        </div>
        <div class="form-group">
          {{ render_field(form.wine9, class_="form-control")}}
        </div>
        <div class="form-group">
          {{ render_field(form.wine10, class_="form-control")}}
        </div>
      </div>
      <div class="col-6">
        <h3>White</h3>
        <hr>
        <div class="form-group">
          {{ render_field(form.wine11, class_="form-control")}}
        </div>
        <div class="form-group">
          {{ render_field(form.wine12, class_="form-control")}}
        </div>
        <div class="form-group">
          {{ render_field(form.wine13, class_="form-control")}}
        </div>
        <div class="form-group">
          {{ render_field(form.wine14, class_="form-control")}}
        </div>
        <div class="form-group">
          {{ render_field(form.wine15, class_="form-control")}}
        </div>
        <div class="form-group">
          {{ render_field(form.wine16, class_="form-control")}}
        </div>
        <div class="form-group">
          {{ render_field(form.wine17, class_="form-control")}}
        </div>
        <div class="form-group">
          {{ render_field(form.wine18, class_="form-control")}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <hr>
        <h3>Blush</h3>
        <hr>
        <div class="form-group">
          {{ render_field(form.wine19, class_="form-control")}}
        </div>
        <div class="form-group">
          {{ render_field(form.wine20, class_="form-control")}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr>
        <h3>Sparkling</h3>
        <hr>
        <div class="form-group">
          {{ render_field(form.wine21, class_="form-control")}}
        </div>
        <div class="form-group">
          {{ render_field(form.wine22, class_="form-control")}}
        </div>
      </div>
    </div>

    <hr>
    <h3>House Wines</h3>
    <hr>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          {{ render_field(form.wine23, class_="form-control")}}
        </div>
        <div class="form-group">
          {{ render_field(form.wine24, class_="form-control")}}
        </div>
        <div class="form-group">
          {{ render_field(form.wine25, class_="form-control")}}
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          {{ render_field(form.wine26, class_="form-control")}}
        </div>
        <div class="form-group">
          {{ render_field(form.wine27, class_="form-control")}}
        </div>
        <div class="form-group">
          {{ render_field(form.wine28, class_="form-control")}}
        </div>
      </div>
    </div>

    <p>
      <input id="edit-winelist-btn" class="btn btn-sm btn-primary" type="click" value="Submit">
      <a href="/wine_dashboard" class="btn btn-sm btn-danger">Wine Dashboard</a>
    </p>
  </form>
{% endblock %}
